@font-face {
    font-family: "S-CoreDream-1Thin";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.content2 {
    display: block;
    text-align: center;
    font-size: 1.5vw !important;
    font-family: "S-CoreDream-1Thin", serif !important;
}