@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.subtitle {
  display: block;
  margin: 0.5em;
  text-align: center;
  font-size: 5vw !important;
  font-family: "Chosunilbo_myungjo", serif !important;
}
